.messages {
    display: flex;
    justify-content: space-between;
}

.user_container {
    flex: 0 0 35%;
}

.dialog_container {
    flex: 0 0 65%;
}

.messages__new_message {
    position: relative;
    margin-top: 15px;
}

.messages__new_message textarea {
    border-radius: 5px;
    width: 80%;
    height: 30px;
}
.messages__new_message button {
    position: absolute;
    left: 421px;
    bottom: 2px;
    width: 80px;
    background: white;
    border: 1px solid #949494;
    border-radius: 5px;
    height: 100%;
}