.app {
    display: grid;
    grid-template-areas: "header header header" "nav main ." "footer footer footer";
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 1fr 800px 1fr;
    grid-gap: 10px;
    min-width: 100vh;
    min-height: 100vh;
    background: #bbc3ce;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
}